In [72]:
#Loading all the necessary packages 
import geopandas
import folium
import pandas as pd 
from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame

In [73]:
##Loading the dataset 
garden_dataset = pd.read_excel("Interview Challenge.xlsx")

In [74]:
### Visualize data 
garden_dataset.head(10)

,id,latitudes/0,latitudes/1,latitudes/2,latitudes/3,longitudes/0,longitudes/1,longitudes/2,longitudes/3,latitudes/4,longitudes/4,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,7590cf21d1a446e3b07c92912a4a3c44,2.980511,2.980595,2.980763,2.980530,32.531686,32.531705,32.531327,32.531240,2.980515,32.531657,NaN,NaN,NaN,NaN,NaN
1,c7b3fde63650440abbaaecec33e30bfa,2.965254,2.965177,2.965122,2.966003,32.249756,32.250017,32.250278,32.250418,2.965983,32.249870,NaN,NaN,NaN,NaN,s
2,ef2b90b7ff804894a8413477cdfa0e86,2.961134,2.961096,2.961096,2.961162,32.240426,32.240401,32.240401,32.240312,2.960957,32.240535,NaN,NaN,NaN,NaN,NaN
3,604a8069c5bb4620b7394a7ec5603c18,2.961075,2.961193,2.960932,2.960932,32.240455,32.240537,32.240490,32.240490,2.961053,32.240440,NaN,NaN,NaN,NaN,NaN
4,9848201f11824ca5a7639aee61152122,2.960971,2.961101,2.961128,2.961035,32.240536,32.240386,32.240551,32.240573,2.960998,32.240462,NaN,NaN,NaN,NaN,NaN

In [75]:
####Data preprocessing and cleansing
dataset =  garden_dataset.loc[:, ~garden_dataset .columns.str.contains('^Unnamed')]

In [76]:
dataset

,id,latitudes/0,latitudes/1,latitudes/2,latitudes/3,longitudes/0,longitudes/1,longitudes/2,longitudes/3,latitudes/4,longitudes/4
0,7590cf21d1a446e3b07c92912a4a3c44,2.980511,2.980595,2.980763,2.980530,32.531686,32.531705,32.531327,32.531240,2.980515,32.531657
1,c7b3fde63650440abbaaecec33e30bfa,2.965254,2.965177,2.965122,2.966003,32.249756,32.250017,32.250278,32.250418,2.965983,32.249870
2,ef2b90b7ff804894a8413477cdfa0e86,2.961134,2.961096,2.961096,2.961162,32.240426,32.240401,32.240401,32.240312,2.960957,32.240535
3,604a8069c5bb4620b7394a7ec5603c18,2.961075,2.961193,2.960932,2.960932,32.240455,32.240537,32.240490,32.240490,2.961053,32.240440
4,9848201f11824ca5a7639aee61152122,2.960971,2.961101,2.961128,2.961035,32.240536,32.240386,32.240551,32.240573,2.960998,32.240462

In [77]:
#####getting columns from the dataframe so as to rearrange the dataset according to the naming convention of the data
dataset_cols = dataset.columns.tolist()

In [78]:
dataset_cols

['id',
 'latitudes/0',
 'latitudes/1',
 'latitudes/2',
 'latitudes/3',
 'longitudes/0',
 'longitudes/1',
 'longitudes/2',
 'longitudes/3',
 'latitudes/4',
 'longitudes/4']

In [79]:
dataset_rearranged = dataset[['id','latitudes/0','longitudes/0','latitudes/1','longitudes/1','latitudes/2',
                              'longitudes/2','latitudes/3','longitudes/3','latitudes/4','longitudes/4']]

In [80]:
dataset_rearranged

,id,latitudes/0,longitudes/0,latitudes/1,longitudes/1,latitudes/2,longitudes/2,latitudes/3,longitudes/3,latitudes/4,longitudes/4
0,7590cf21d1a446e3b07c92912a4a3c44,2.980511,32.531686,2.980595,32.531705,2.980763,32.531327,2.980530,32.531240,2.980515,32.531657
1,c7b3fde63650440abbaaecec33e30bfa,2.965254,32.249756,2.965177,32.250017,2.965122,32.250278,2.966003,32.250418,2.965983,32.249870
2,ef2b90b7ff804894a8413477cdfa0e86,2.961134,32.240426,2.961096,32.240401,2.961096,32.240401,2.961162,32.240312,2.960957,32.240535
3,604a8069c5bb4620b7394a7ec5603c18,2.961075,32.240455,2.961193,32.240537,2.960932,32.240490,2.960932,32.240490,2.961053,32.240440
4,9848201f11824ca5a7639aee61152122,2.960971,32.240536,2.961101,32.240386,2.961128,32.240551,2.961035,32.240573,2.960998,32.240462

In [81]:
#Rename columns appropriately
dataset_rearranged.columns =dataset_rearranged.columns.str.replace(r"[/]", "_")

In [82]:
dataset_rearranged

,id,latitudes_0,longitudes_0,latitudes_1,longitudes_1,latitudes_2,longitudes_2,latitudes_3,longitudes_3,latitudes_4,longitudes_4
0,7590cf21d1a446e3b07c92912a4a3c44,2.980511,32.531686,2.980595,32.531705,2.980763,32.531327,2.980530,32.531240,2.980515,32.531657
1,c7b3fde63650440abbaaecec33e30bfa,2.965254,32.249756,2.965177,32.250017,2.965122,32.250278,2.966003,32.250418,2.965983,32.249870
2,ef2b90b7ff804894a8413477cdfa0e86,2.961134,32.240426,2.961096,32.240401,2.961096,32.240401,2.961162,32.240312,2.960957,32.240535
3,604a8069c5bb4620b7394a7ec5603c18,2.961075,32.240455,2.961193,32.240537,2.960932,32.240490,2.960932,32.240490,2.961053,32.240440
4,9848201f11824ca5a7639aee61152122,2.960971,32.240536,2.961101,32.240386,2.961128,32.240551,2.961035,32.240573,2.960998,32.240462

In [105]:
'''
    Setting Up map view 
'''
center =  [2.8780,32.7181]
map_view = folium.Map(location=center, zoom_start=8)
#display map
map_view

In [124]:
###filter columns for latitude
filter_col_lt = [col for col in dataset_rearranged if col.startswith('latitudes_')]
filter_col_lt

['latitudes_0', 'latitudes_1', 'latitudes_2', 'latitudes_3', 'latitudes_4']

In [125]:
dataset_rearranged [filter_col_lt]

   latitudes_0  latitudes_1  latitudes_2  latitudes_3  latitudes_4
0     2.980511     2.980595     2.980763     2.980530     2.980515
1     2.965254     2.965177     2.965122     2.966003     2.965983
2     2.961134     2.961096     2.961096     2.961162     2.960957
3     2.961075     2.961193     2.960932     2.960932     2.961053
4     2.960971     2.961101     2.961128     2.961035     2.960998

In [126]:
###filter columns for latitude
filter_col_ln = [col for col in dataset_rearranged if col.startswith('longitudes_')]
filter_col_ln

['longitudes_0',
 'longitudes_1',
 'longitudes_2',
 'longitudes_3',
 'longitudes_4']

In [127]:
dataset_rearranged [filter_col_ln]

   longitudes_0  longitudes_1  longitudes_2  longitudes_3  longitudes_4
0     32.531686     32.531705     32.531327     32.531240     32.531657
1     32.249756     32.250017     32.250278     32.250418     32.249870
2     32.240426     32.240401     32.240401     32.240312     32.240535
3     32.240455     32.240537     32.240490     32.240490     32.240440
4     32.240536     32.240386     32.240551     32.240573     32.240462

In [132]:
#calculate the mean of latitudes and longitudes
lts = []
lnts = []
for ix, d in dataset_rearranged.iterrows():
    for x in range(0,4):
        lt = d['latitudes_{}'.format(x)]
        ln= d['longitudes_{}'.format(x)]
        lts.append(lt)
        lnts.append(ln)

In [136]:
sum = 0
for ele in lts:
    sum += ele
res_lts = sum / len(lts)

In [137]:
res_lts

2.965840561299998

In [138]:
sum = 0
for ele in lnts:
    sum += ele
res_lnts = sum / len(lnts)

In [139]:
res_lnts

32.3005992245

In [160]:
'''
        Plotting on a map using folium map 
'''
center = [res_lts,res_lnts]

map_uganda = folium.Map(location=center, zoom_start=8)
for index, garden in dataset_rearranged.iterrows():
    for i in range(0,4):
        location = [garden['latitudes_{}'.format(i)],garden['longitudes_{}'.format(i)]]
        folium.Marker(location, popup = f'Garden:{garden["id"]}').add_to(map_uganda)

# save map to html file
map_uganda